<form [formGroup]="unitForm" (ngSubmit)="submitForm()">
  <h4>{{ getHeading() }}</h4>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Notizen</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
<app-file-upload (fileEmitter) = "fileEmitted($event)" [data]="this.data"></app-file-upload>
<div class ="divider"></div>
  <div class ="button-container">
    <ng-container *ngIf ="this.editing">
      <button mat-raised-button class ="btn" (click) ="this.deleteUnit.emit(data)" type ="button">
      <mat-icon >delete_forever</mat-icon>
    </button>
    </ng-container>
    <ng-container *ngIf="!this.isLoading; else loading">
      <button mat-raised-button type="submit" class="btn" [disabled]="unitForm.invalid">
        <mat-icon>save</mat-icon>
      </button>
    </ng-container>
    <ng-template #loading>
      <mat-spinner style="margin:0 auto;" [diameter]=50 [mode]="mode" [value]="progress"></mat-spinner>
      <p>{{this.progress}}%</p>
    </ng-template>
  </div>
</form>