<ng-container *ngIf="exercises">
  <h3>Übungen</h3>
  <div class="row">
    <div class="col">
      <ul>
        <li
          *ngFor="let exercise of exercises"
          (click)="selectExercise(exercise)"
          [style.background-color]="
            exercise === selectedExercise ? '#92a8d1' : ''
          "
        >
          <span>{{ exercise.name }}</span>
        </li>
        <button>
          Hinzufügen
          <mat-icon>add</mat-icon>
        </button>
      </ul>
    </div>
    <router-outlet name="exercises-detail"></router-outlet>
  </div>
</ng-container>
