<ng-container *ngIf="exercise">
  <div>
    <div class="container">
      {{ exercise.name }} - Detailansicht
      <div class="border-top my-3"></div>
      <div class="row">
        <ng-container *ngIf="exercise.pictureUrl">
          <div class="col">
            <div class="exercise-image">
              <img [src]="exercise.pictureUrl" />
            </div>
          </div>
        </ng-container>

        <div class="col">
          Muskelgruppen
          <ul class="muscleGroup-list">
            <li
              class="muscleGroup-list-item"
              *ngFor="let muscleGroup of exercise.muscleGroups"
            >
              {{ muscleGroupEnum[muscleGroup] }}
            </li>
          </ul>
          Übungstyp
          {{ exerciseTypeEnum[exercise.exerciseType] }}
        </div>

        <div class="col">
          Beschreibung
          {{ exercise.description }}
          Zuletzt trainiert
          {{ exercise.date | date: "EEEE d. MMMM y HH:mm" }}
        </div>
      </div>
      <app-set-list [exercise]="exercise"> </app-set-list>

      <button (click) = "navigateToEdit()" >
        Bearbeiten
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
