<div class="row">
  <div class="col-md">
    <p style="font-weight: bold;">Beanspruchte Muskelgruppen</p>
    <ng-container *ngIf="exercise.muscleGroups.length; else noMuscleGroups">
      <mat-list>
        <mat-list-item *ngFor="let muscleGroup of exercise.muscleGroups">
          {{ muscleGroupEnum[muscleGroup] }}
          <mat-divider intset="true"></mat-divider>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #noMuscleGroups>Für diese Übung wurden keine beanspruchten Muskeln ausgewählt
    </ng-template>
  </div>
  <div class="col-md">  
    <div style="position: relative; left: 0; top: 0;" >
      <ng-container *ngIf="front; else elseBlock">
        <img class="anatomy" [src]="anatomyFront" />
        <!-- vorne -->
        <ng-container *ngIf="isMuscleGroup('CHEST')">
          <img class="muscleGroup-image" [src]="chest" />
        </ng-container>
        <ng-container *ngIf="isMuscleGroup('BICEPS')">
          <img class="muscleGroup-image" [src]="biceps" />
        </ng-container>
        <ng-container *ngIf="isMuscleGroup('SHOULDERS')">
          <img class="muscleGroup-image" [src]="frontDelts" />
        </ng-container>
        <ng-container *ngIf="isMuscleGroup('QUADS')">
          <img class="muscleGroup-image" [src]="frontLegs" />
          <!-- hinten -->
        </ng-container>
        <ng-container *ngIf="isMuscleGroup('ABS')">
          <img class="muscleGroup-image" [src]="abs" />
          <img class="muscleGroup-image" [src]="sideAbs" />
        </ng-container>
      </ng-container>
      <ng-template #elseBlock>
        <img class="anatomy" [src]="anatomyBack" />
        <ng-container *ngIf="isMuscleGroup('BACK')">
          <img class="muscleGroup-image" [src]="lats" />
        </ng-container>
        <ng-container *ngIf="isMuscleGroup('TRICEPS')">
          <img class="muscleGroup-image" [src]="triceps" />
        </ng-container>
        <ng-container *ngIf="isMuscleGroup('BOOTY')">
          <img class="muscleGroup-image" [src]="booty" />
        </ng-container>
        <ng-container *ngIf="isMuscleGroup('HAMSTRINGS')">
          <img class="muscleGroup-image" [src]="backLegs" />
        </ng-container>
        <ng-container *ngIf="isMuscleGroup('CALVES')">
          <img class="muscleGroup-image" [src]="calves" />
        </ng-container>
        <ng-container *ngIf="isMuscleGroup('TRAPS')">
          <img class="muscleGroup-image" [src]="traps" />
        </ng-container>
      </ng-template>
    </div>
    <button mat-raised-button class="swap-button" (click)="turn()">
      <mat-icon>loop</mat-icon>
    </button>
  </div>
</div>