<div class="row">
  <div class="col">
    Beanspruchte Muskelgruppen
    <mat-list>
      <mat-list-item *ngFor="let muscleGroup of exercise.muscleGroups">
        {{ muscleGroupEnum[muscleGroup] }}
        <mat-divider intset = "true"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col">
    <label
      matTooltip="Anatomie des Menschen"
      aria-label="Button that displays a tooltip when focused or hovered over"
    >
      <img [src]="anatomyPath"
    /></label>
  </div>
</div>
