<ng-container *ngIf="exercisesPage$ | async as exercises">

  <div class ="back-button-container">
        <button class ="back-button" routerLink=".." mat-button>
          <mat-icon>arrow_back_ios</mat-icon>
          Back to Units
        </button>
      </div>
        <ul>
          <li *ngFor="let exercise of exercises.content" (click)="selectExercise(exercise)">
            <button mat-button style="padding: 0 0;">
              <img src="https://www.myself.de/Undefined/image-thumb__7223__gallery-horizontal/liegest%C3%BCtz-einarmig.jpeg">
              <div class ="unit-name-container">
                {{ exercise.name }}
              </div>
            </button>
          </li>
          <li>
            <button mat-button class = "add-button" routerLink ="">
              <mat-icon>
                add
              </mat-icon>
            </button>
          </li>
        </ul>
  
</ng-container>