<ng-container *ngIf="exercisesPage$ | async as exercises">

        <button routerLink=".." mat-button>
          <mat-icon>arrow_back_ios</mat-icon>
          Back to Units
        </button>
        <p class="heading mat-title">Select Exercise (das soll in der navbar stehen)</p>
        <ul style ="padding: 0 0">
          <li *ngFor="let exercise of exercises.content" (click)="selectExercise(exercise)"
            style="background-color:rgb(223, 223, 223); cursor:pointer; list-style-type: none;">
            {{ exercise.name }}
          </li>
        </ul>
        <ng-container *ngIf="exercises.content.length">
          <mat-paginator [pageSize]="pageSize" [length]="exercises.totalElements" (page)="turn($event)"
            [pageIndex]="index">
          </mat-paginator>
        </ng-container>
        <app-log-sets [exerciseSubject]="exerciseSubject"></app-log-sets>
</ng-container>