@import"../../../styles.scss";

:root{
  box-sizing: border-box;
}
*,
::before,
::after {
  
  box-sizing: inherit;
}

.active {
  background-color:$primary;
}

.burger-menu {
  text-align: start;
}

#toolbar {
  z-index: 2;
  top: 0;
  position: fixed;
  background-color: $primary;
  color: white;
  height: 2em;
  padding:0;
}


*:focus {
  outline: 0 !important;
}

.drawer {
  display:block;
  position: sticky;
  position: fixed;
  top:0em;  
  z-index: 1;
  width: 100%;
  opacity: 0;
  margin-top: 2em;
  visibility: hidden;
  transition: opacity 0.2s linear,
              visibility 0s linear 0.2s
}

li {
  height: 100px;
  display:flex;
  text-align: center;
}

a {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  align-self: center;
  margin: 0 auto;
}

.is-open {
  opacity: 1; 
  visibility: visible;
  transition-delay: 0s;
}

mat-icon {
  font-size: 2.3em
}

.nav-left {
  flex: 0 0 25%;
  position:relative;
}

.nav-middle {
  flex:1 0 50%;
  position:relative;
  text-align: center;
}

.nav-right {
  flex: 0 0 25%;
  text-align: center;
  padding-left: 1.5em;
}

.header-image {
  border-radius: 50%;
  width:1.7em;
  height: 1.7em;
  margin-left: 0.5em;
}

mat-toolbar > div > a {
  margin: auto 0;
  text-decoration: none;
  color: white;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

div ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

div ul li {
  text-align:center;
  background: $primary;
  color: white;
  padding: 1em; 
  margin: -0.1em;
}

li:last-child {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

div ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

@media (min-width: 35em){
    .nav-left > a{
        display:none
    }

    #toolbar {
        z-index: 1;
        height: 3em;
    }

    .drawer { 
        visibility: visible;
        opacity: 1;
        position:relative;  
        margin:0;
    }

    #drawer-list { 
        display:flex;
        position:fixed;
        top: 0.75em; 
        z-index: 3 
    }

    #drawer-list > li { 
        height: 1em; 
    }

    #drawer-list > li + li { 
        margin-left: 1em 
    }

    .header-image {
        border-radius: 50%;
        width:2.5em;
        height: 2.5em;
        margin-left: 0.5em;
        cursor: pointer;
      }
    .nav-right {
        flex: 0 0 25%;
        text-align: center;
        padding-left: 1.5em;
    }
}