<mat-accordion>
    <mat-expansion-panel hideToggle (opened)="opened()" (closed)="closed()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{unit.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{unit.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngIf="!this.isLoading; else loading">
            <ul *ngIf="this.exercises?.length; else emptyExercises">
                <li *ngFor="let exercise of this.exercises">
                    <div class = "exercise-name">{{ exercise.name}}</div>
                    <div>{{exerciseTypeEnum[exercise.exerciseType]}}</div>
                    <mat-divider></mat-divider>
                </li>
            </ul>
            <ng-template #emptyExercises>
                Keine Übungen vorhanden
            </ng-template>
        </ng-container>
        <ng-template #loading>
            <mat-spinner></mat-spinner>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>