mat-expansion-panel-header{
    height: 6em !important;
}

ul {
    list-style-type: none;
    padding: 0em;
    text-align: left;
}

li {
    display:flex;
}

li + li{
    margin-top: 2em;
}

.exercise-name {
    flex: 1;
}

mat-panel-title{
    font-size: 1.5em;
}