<ng-container *ngIf="units">
  <ul>
    <li *ngFor="let unit of units; let i = index" (click) ="routeToExercise($event, unit)">
      <div class ="unit-card">
        <img class ="unit-image" src="https://www.myself.de/Undefined/image-thumb__7223__gallery-horizontal/liegest%C3%BCtz-einarmig.jpeg">
        <div class ="unit-name-container">
          {{ unit.name }}
        </div>
      </div>
    </li>
  
  </ul>
  <ul class ="bottom-nav" id ="bottom-nav">
    <li   class ="left-arrow">
      <!-- ng-container *ngIf = "!units.first"

      <mat-icon (click) = "turn(units, -1)" inline>arrow_back_ios</mat-icon>
    /ng-container-->

    </li>
          <li class ="add-button">
              <mat-icon inline routerLink ="">
                add
              </mat-icon>
          </li>
    <li  class ="right-arrow">
      <!-- ng-container *ngIf = "!units.last"
      <mat-icon  (click) = "turn(units, 1)" inline >arrow_forward_ios</mat-icon>
    /ng-container -->
      </li>
</ul>
</ng-container>