<ng-container *ngIf ="unitsPage">
  <ng-container *ngIf="unitsPage.content.length;else nounitresults">
  <ul class ="unit-list">
    <li *ngFor="let unit of unitsPage.content; let i = index" (click) ="routeToExercise($event, unit)">
      <div class ="unit-card">
        <div class ="unit-name-container">
          {{ unit.name }}
        </div>
      </div>
    </li>
  </ul>
</ng-container>
</ng-container>
<ng-template #nounitresults>
  <h4 style ="text-align: center; margin-top: 4em">
  Keine Ergebnisse 
  </h4>
</ng-template>
