@import"../../../../styles.scss";


ul{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none; 
    padding:0;
    margin-bottom: 0;
    background-image: radial-gradient(circle,  white, $primary )
}



.unit-image{
   background-size: contain;
}


.unit-card {
    min-height: 10em;
    border-radius: 0.5em;
    background-size: cover;
    background-image: url("../../../../assets/unitimage.jpeg");
    box-shadow: 0.1em 0.1em 0.5em #124;
}

.unit-list > li + li{
    margin-top: 1em;
}

.unit-list > li:first-child{
    margin-top: 1em;
}
.unit-list > li:last-child{
    margin-bottom: 1em;
}

.unit-name-container{
    word-wrap: break-word;
    font-family: Roboto, sans-serif;
    text-align: center;
    color:white;
    background-color:$secondary;
    margin:0 0;
    padding: 1px 0;
    text-transform: uppercase;    
    border-top-left-radius: 0.5em;     
    border-top-right-radius: 0.5em;
}


li{
    margin: 0 auto;
    width: 90%;
    max-height: 10em;
    margin-top: 0.2em;
    animation: fly-in 300ms ease-in;
}





@for $i from 1 through 20 {
    li:nth-child(#{$i}n) {
        animation-fill-mode: backwards;
        animation-delay: #{$i * 0.08}s;
    }
}



@keyframes fly-in{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
.bottom-nav{
    background-color:$primary;
    display:flex;
    height: 2.5em;
    padding: 0;
    position:fixed;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transform: translateY(2em);
    transition: transform 0.4s cubic-bezier(0.2, 4, 0, 1.47),
                opacity 0.4s linear
}

.show-nav{
    opacity: 1;
    transform: translateY(0);
}

.bottom-nav > li {
    align-self:center;
    flex-basis: calc(33.3% - 0.34em);
    color: white;
}

.add-button{
 text-align: center;
 margin-left: 0;
 margin-top:0;
}

.right-arrow{
    text-align: end;
    margin-right: 0.5em;
    margin-left: 0;
 margin-top:0;
}

.left-arrow{
    margin-top:0;
    margin-left: 0.5em;
}
