<ng-container *ngIf="units$ | async as units">
  <ul>
    <li *ngFor="let unit of units" routerLink="./{{ unit.id }}">
      <button mat-button style="padding: 0 0;">
        <img src="https://www.myself.de/Undefined/image-thumb__7223__gallery-horizontal/liegest%C3%BCtz-einarmig.jpeg">
        <div class ="unit-name-container">
          {{ unit.name }}
        </div>
      </button>
    </li>
    <li>
      <button mat-button class = "add-button" routerLink ="">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </li>
  </ul>
</ng-container>