<ng-container *ngIf="units$ | async as units">
  <ul>
    <li *ngFor="let unit of units" (click)="setExercise(unit)">
      {{ unit.name }}
      <ng-container *ngIf="unit === selectedUnit">
        <ng-container *ngIf="exercises$ | async as exercises">
          <ng-container *ngIf="exercises.content.length; else noExercises">
            <ul>
              <li *ngFor="let exercise of exercises.content" (click)=selectExercise(exercise)>
                {{ exercise.name }}
              </li>
            </ul>
          </ng-container>
          <br />
          <ng-template #noExercises>
            Noch keine Übung eingetragen!
          </ng-template>
        </ng-container>
      </ng-container>
    </li>
  </ul>
  <ng-container *ngIf = "selectedExercise">
    <app-log-sets [exercise] = "selectedExercise">
    </app-log-sets>
</ng-container>
</ng-container>