@import"../../../../../styles.scss";


ul{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none; 
    padding:0;
    margin-bottom: 0;
    height: 100%;
}

.unit-image{
   background-size: contain;
}


.unit-card {
    position: absolute;
    text-align: center;
    width:100%;
    height: 100%;
    display: flex;
    background-color: #f0f0f0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 1;

}


.card{
    position: relative;
    width: 100%;
    height: 85%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    border:none;
}


.unit-card-flipped{
    transform:  rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
}
.unit-card--back {
    background: #f0f0f0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    z-index: 0;
}

.to-foreground {
    
    z-index: 2;
}

img{
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.unit-list {
    max-width: 450px;
    margin: 0 auto;
}

.unit-option-container {
    display:flex;   
    margin: 3em auto 1em auto;
}

.unit-list > li + li{
    margin-top: 1em;
}

.title {
    flex:3;
    align-self: center;
    margin-bottom: 0;
    text-align: center;
    overflow:hidden;
    position:relative
}

.title > h5 {
    margin-bottom: 0;
    padding: 2px;
}
.back-button{
    align-self: center;
    max-width: 2.5em;
    margin-left: 0.5em;
    flex: 1;
}

.unit-name-container{
    word-wrap: break-word;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: $text;
    margin:0 0;
    padding: 2px 0;
    height: 15%;
    font-size: 1em;
    text-transform: uppercase;    
    background-color: #f0f0f0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.no-image {
    align-self: center;
    color:$text;
    margin: 0 auto;
}

h4 {
    color:black;
}

li{
    margin: 0 auto;
    width: 95%;
    height: 12em;
    margin-top: 1em;
    animation: fly-in 300ms ease-in;
}

.spinner-li { 
    transition: none !important; 
    animation: none !important;
    display:flex;
    text-align: center;
}

mat-spinner { 
    align-self: center;

    display:block;
    margin: 0em auto
}

.unit-card > mat-icon{
    -webkit-backface-visibility: hidden;
    margin: 0 auto;
    color:$text;
    margin-top:2em;
    font-size: 2em;
}

.unit-settings-toggle-btn{
    align-self: center;
    color: white;
    flex:1;

   }

.unit-add-button{
    align-self: center;
    flex:1;
    color: white;
}


.unit-bottom-nav{
    display:flex;
    text-align: center;
    background-color:$primary;
    height: 2.5em;
    padding: 0;
    position:fixed;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transform: translateY(2em);
    transition: transform 0.4s cubic-bezier(0.2, 4, 0, 1.47),
                opacity 0.4s linear
}


@for $i from 1 through 20 {
    li:nth-child(#{$i}n) {
        animation-fill-mode: backwards;
        animation-delay: #{$i * 0.08}s;
    }
}



@keyframes fly-in{
    0%{
        transform: translateX(-500px);
        opacity: 0;
        -webkit-transform: translateX(-500px);

        
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);

    }
}
.bottom-nav{
    background-color:$primary;
    display:flex;
    height: 2.5em;
    padding: 0;
    position:fixed;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transform: translateY(2em);
    transition: transform 0.4s cubic-bezier(0.2, 4, 0, 1.47),
                opacity 0.4s linear
}

.show-nav{
    opacity: 1;
    transform: translateY(0);
}

.bottom-nav > li {
    align-self:center;
    flex-basis: calc(33.3% - 0.34em);
    color: white;
}

.add-button{
 text-align: center;
 margin-left: 0;
 margin-top:0;
}

.right-arrow{
    text-align: end;
    margin-right: 0.5em;
    margin-left: 0;
    margin-top:0;
}

.left-arrow{
    margin-top:0;
    margin-left: 0.5em;
}

@media (min-width: 35em){
    mat-icon { cursor: pointer }

        .unit-option-container{ margin: 5em auto 2em auto; }
    
        mat-icon { cursor: pointer }
}
