<div class="hero">
    <div class="hero-inner">
    </div>
</div>
<div class="tile-row">
    <div class="tile">
        <div class="tile-content">
            <h5>Leichtgewichtig</h5>

            <p>GymAudit ist eine kostenfreie, leichtgewichtige Fitness Webapplikation.
                Sie ermöglicht das unkomplizierte Aufzeichnen des Trainingsfortschritt in einer Form von Tagebuch.
            </p>
        </div>
    </div>
    <div class="tile">
        <div class="tile-content">
            <h5>
                Voranschreitend
            </h5>
            <p>
                Funktionalitäten werden durch kontinuierliche Updates verbessert und erweitert.
            </p>
        </div>
    </div>
    <div class="tile">
        <div class="tile-content">
            <h5>
                Drittanbieternutzung
            </h5>
            <p>
                Nutzer können GymAudit autorisieren Drittanbieter zu nutzen.
                So können sich Nutzer mit ihrem Facebook Profil einloggen oder
                Bilder von Übungen per Google Drive hochladen. 
            </p>

        </div>
    </div>

</div>