<div class="hero">
    <div class="hero-inner">
    </div>
</div>
<div class="tile-row">
    <div class="tile">
        <div class="tile-content">
            <mat-icon>thumb_up</mat-icon>
            <div>
                <h4>Lightweight!</h4>
                <p>GymAudit ist leichtgewichtige und intiutive Webplattform.</p>
            </div>
        </div>
    </div>
    <div class="tile">
        <div class="tile-content">
            <mat-icon>wc</mat-icon>
            <div>
                <h4>Einfach und schnell</h4>
                <p>Trainingsroutinen können schnell und effektiv eingepflegt werden.</p>
            </div>
        </div>
    </div>
    <div class="tile">
        <div class="tile-content">
            <mat-icon>trending_up</mat-icon>
            <div>
                <h4>Progression</h4>
                <p>Endlich Stagnation überwinden und Fortschritte machen!</p>
            </div>
        </div>
    </div>
    <div class="tile">
        <div class="tile-content">
            <mat-icon>people_alt</mat-icon>
            <div>
                <h4>Share!</h4>
                <p>Lass dich von Trainingsplänen anderer Nutzer inspirieren!    </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>