@import "../../../styles.scss";


.tile{
    border-top: 15px solid $secondary;
    font-size: 0.9em;
    margin: auto 1em;
}

.tile + .tile{
    margin-top:1em;
}


.tile-content{
    margin: auto 2em;
}

.hero{
    background: url("../../../assets/hero.jpg") no-repeat;
    background-size: cover;
}

.hero-inner{
    margin-left: 0.5em; 
    max-width: 1080px;
    color:black;
   padding-top: 10px;
   padding-bottom:  255px;
   text-transform: uppercase;
   
}

p{
    margin:0;
}


@media(min-width: 32em){
    .tile-row{
        display:flex;
        max-width: 1080px;
        margin: 0 auto;
        margin-top: 2em;

    }
    .tile{
        flex-basis: 33%;
        margin-top: 0 !important;
    }
    .tile+.tile{
        margin-left: 2em;
    }
    
}

a{
    margin: 1em auto;
}