@import "../../../styles.scss";


.tile{
    border-top: 15px solid $primary;
    background-color: #80808021;
    font-size: 0.9em;
}

.tile + .tile{
    margin-top:1em;
}


.tile-content{
    margin: auto 2em;
}

.hero{
    background: url("../../../assets/hero.jpg") no-repeat;
    background-size: cover;
}

.hero-inner{
    margin-left: 0.5em; 
    max-width: 1080px;
    color:black;
   padding-top: 10px;
   padding-bottom:  255px;
   text-transform: uppercase;
   
}

p{
    margin:0;
}

