<div class="hero">
    <div class="hero-inner">
    </div>
</div>
<div class="tile-row">
    <div class="tile">
        <div class="tile-content">
            <h5>GymAudit bietet eine kostenfreie, leichtgewichtige Fitness Webplattform</h5>
        </div>
    </div>
    <div class="tile">
        <div class="tile-content">
            <h5>Anfänger können ihre Trainingsroutinen schnell und effektiv eingepflegen</h5>
        </div>
    </div>
    <div class="tile">
        <div class="tile-content">
            <h5>Reviews ermitteln die oft unerkannten Trainingsplateaus und Stagnationen von Fortgeschrittenen </h5>
        </div>
    </div>
