@import "../../../styles.scss";

.tile-row { margin-top: 2em }

.tile {
    border-top-left-radius: 1em;
    font-size: 0.9em;
    margin: auto 2em;
}   

.tile-content {
    margin: 2em 0em auto 0em;
    display:flex;
    font-size: 1.1em;
    height: 100%
}

.tile-content > mat-icon {
    flex-basis: 25%;
    align-self: center;
    border-radius: 1em;
    margin: 0em 0.9em 0em 0em;
    font-size: 3.4em;
    background-color: rgb(228, 228, 228);
    padding: 0.3em;
    height: 90px;
    width: 170px;
}

.tile-content > div {
    flex-basis: 75%;
}

.hero {
    background: url("../../../assets/hero.jpg") no-repeat;
    background-size: cover;
}

.hero-inner {
   margin-top: 2.5em;
   margin-left: 0.5em; 
   max-width: 1080px;
   color:black;
   padding-top: 10px;
   padding-bottom:  255px;
   text-transform: uppercase;
   
}

p {
    margin:0;
}


@media(min-width: 32em){
    .tile-row {
        display:flex;
        margin: 0 auto;
        margin-top: 2em;
    }

    .tile { margin-top: 1em !important; flex-basis: 25%}

    .hero {
        background-size: contain;
        width: 1000px;
        margin: 0 auto;
        height: 500px;
    }

    .tile-content > mat-icon {
        margin-right: 1em;
    }

    .hero {
        background: url("../../../assets/hero.jpg") no-repeat;
        background-size: cover;
    }
}

a {
    margin: 1em auto;
}