@import "../../../../../styles.scss";
 
.mat-button-toggle-group:focus {
    outline: none;
    border: 0;
 }

.active{ background-color: black }

*:focus { outline: none }

.exercise-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    list-style-type: none; 
    padding:0;
    margin: 0 1em;
    margin-bottom: 4em;
}

.exercise-list > li{
    margin:0;
    height: 10em;
    width: 100%;
    animation: turn 500ms ease-in;
}

.unit-name-container {
    text-transform: uppercase;
}

.unit-option-container {
    display:flex;   
    margin: 3em auto 1em auto;
}

mat-icon{
    padding:0;
    margin: 0 auto;

}

.back-button{
    align-self: center;
    max-width: 2.5em;
    margin-left: 0.5em;
    flex: 1;
}


.title {
    flex:3;
    align-self: center;
    margin-bottom: 0;
    text-align: center;
    overflow:hidden;
    position:relative
}

.title > h5 {
    margin-bottom: 0;
    padding: 2px;

}

.search-button {
    flex:1;
    max-width: 2.5em;
    margin-right: 0.5em;
    text-align:right;
}

#search-bar {
    border-width: 1px;
    width: 100%;
}

.close-button {
    flex:1;
    max-width: 2.5em;
    margin-right: 0.5em;
    text-align:right;
    display:none;
}

.visible{
    display:block;
}


.invisible{
    display:none;
}

.description {
    word-break: break-word;
    max-width: 90%;
}

.exercise-name-container{
    overflow:hidden;
    font-family: Roboto, sans-serif;
    text-align: center;
    color:white;
    background-color:$secondary;
    margin:0 0;
    text-transform: uppercase;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.no-image{

    color:white;
}


@keyframes turn{
    0%{
        opacity: 0;

    }
    
    100%{
        opacity: 1;
    }
}

.bottom-nav{
    background-color:$primary;
    display:flex;
    height: 2.5em;
    padding: 0;
    position:fixed;
    width: 100%;
    bottom: 0;
    opacity: 0;
    margin-bottom: 0;
    transform: translateY(2em);
    transition: transform 0.4s cubic-bezier(0.2, 4, 0, 1.47),
                opacity 0.4s linear
}

.show-nav{
    opacity: 1;
    transform: translateY(0);
}

.left-arrow{
    flex:1;
}


.settings{
    flex:2;

}
   .add-button{
       flex:2;
    align-self: center;
}

.right-arrow{
    flex:1;
}

.bottom-nav > li{
    list-style-type: none;
    color:white;
    align-self:center;
    text-align: center;
}

.bottom-nav > li > mat-icon{
            align-self:center;
            font-size: 1.5em;
}
 
.card {
    
    position: relative;
    width: 100%;
    height: 80%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    border:none;
    text-align:center;
}

.no-image {
    align-self: center;
    color:white;
    margin: 0 auto;
}


.exercise-card {
    position:absolute;
    height: 8em;
    width: 100%;
    margin:0 0;
    background: $secondary;
    text-align: center;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display:flex;
}

.exercise-card-flipped{
    transform: translateX(-100%) rotateY(-180deg);
    -webkit-transform: translateX(-100%) rotateY(-180deg);

}
.exercise-card--back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

img{
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.exercise-card > mat-icon{
    -webkit-backface-visibility: hidden;
    color:white;
    margin-top:1.4em;
    font-size: 2em;
}

p { text-align: center; font-size: 0.9em}

@media (min-width: 35em){
    .unit-option-container{ margin: 5em auto 2em auto; }

    .exercise-list{ grid-template-columns: 1fr 1fr 1fr 1fr 1fr }

    .exercise-list > li { max-width: 350px }

    mat-icon { cursor: pointer }
}