<div class="unit-option-container">
  <mat-icon class="back-button" routerLink="..">arrow_back_ios</mat-icon>
  <div class="title">
    <h5 id="unit-title">
      {{this.selectedUnit?.name }}
    </h5>
    <input id="search-bar" class="invisible" (keyup)="keyUp$.next($event.target.value)">
  </div>
  <mat-icon class="search-button" (click)="toggleSearchBar()">
    search
  </mat-icon>
  <mat-icon class="close-button" (click)="toggleSearchBar()">
    close
  </mat-icon>
</div>
<p>{{this.selectedUnit?.description}}</p>
<ng-container *ngIf="exercisesPage">
  <ng-container *ngIf="exercisesPage.content.length; else noresults">
    <ul class="exercise-list">
      <li *ngFor="let exercise of exercisesPage.content" (click)="selectExercise(exercise)">
        <div class="exercise-name-container">
          {{ exercise.name }}
        </div>
        <div class="card">
          <div class="exercise-card">
            <ng-container *ngIf="exercise.fileId; else noimg">
              <img src="{{apiUrl + 'files/' + exercise.fileId}}">
            </ng-container>
            <ng-template #noimg>
              <span class="no-image">
                <mat-icon>fitness_center</mat-icon>
              </span>
            </ng-template>
          </div>
          <div class="exercise-card exercise-card--back">
            <mat-icon>
              settings
            </mat-icon>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #noresults>
    <h4 style="text-align: center; margin-top: 4em">
      Keine Ergebnisse
    </h4>
  </ng-template>
  <ul class="bottom-nav" id="bottom-nav">
    <li class="left-arrow">
      <ng-container *ngIf="!exercisesPage.first">
        <mat-icon (click)="turn(exercisesPage, -1)" inline>arrow_back_ios</mat-icon>
      </ng-container>
    </li>
    <ng-container *ngIf="exercisesPage && exercisesPage.content.length">
      <li class="settings">
        <ng-container *ngIf="!this.editView; else closeicon">
          <mat-icon (click)="toggleSettingsView()" inline>
            settings
          </mat-icon>
        </ng-container>
        <ng-template #closeicon>
          <mat-icon (click)="toggleSettingsView()" inline>
            close
          </mat-icon>
        </ng-template>
      </li>
    </ng-container>
    <li class="add-button">
      <mat-icon (click)="openDialog()" inline>
        add
      </mat-icon>
    </li>
    <li class="right-arrow">
      <ng-container *ngIf="!exercisesPage.last">
        <mat-icon (click)="turn(exercisesPage, 1)" inline>arrow_forward_ios</mat-icon>
      </ng-container>
    </li>
  </ul>
</ng-container>