mat-form-field {
  width: 100%;
}


.submit-button{
  margin-top: 1em;
  width: 40%;
}

h4{
  margin-bottom: 1em; 
}

mat-expansion-panel{
  margin: 2em auto;
}

.expansion-button{
  font-size: 1.2em;
  width: 40%;   
  margin-bottom: 1.2em;
  margin-top: 1em;
}

mat-option{
  text-align: center;
}

mat-icon{
  font-size: 20px;
  margin: 0 auto;
}

mat-expansion-panel{
  padding: 1em 0.5em;
}

.button-container{
  text-align: center;
  display:flex;
  justify-content: space-between;
}

.btn{
  margin-top: 2em;
  width: 40%;
  margin: auto auto;
}
