.list-group-item {
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
}

.row-div {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

h3 {
  padding: 20px;
}

.selectedExercise {
  background-color: cadetblue;
}

.list-group {
  width: 300px;
}
