.list-group-item{
    cursor: pointer;
}

.row-div{
    display: flex;
    flex-direction: row;
}

.col-div{
    flex-direction: column;
}

.exercise{
    padding-left:50px;
}

.list-group{
    padding-top: 20px;
}

.btn-outline-primary{
    width:200px;
}