<ng-container *ngIf="exercise$ | async as exercise">
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Übung - {{ exercise.name }}</mat-card-title>
            <mat-card-subtitle *ngIf="exercise.exerciseType"
              >Übungstyp:
              {{ exerciseTypeEnum[exercise.exerciseType] }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <ng-container *ngIf="exercise.pictureUrl">
              <div class="exercise-image">
                <img mat-card-image [src]="exercise.pictureUrl" />
              </div>
            </ng-container>
            <ng-container *ngIf="exercise.description">
              <p>Notizen: {{ exercise.description }}</p>
            </ng-container>
            <button mat-raised-button (click)="navigateToAddExercise()">
              Hinzufügen
              <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button (click)="navigateToEdit()">
              Bearbeiten
              <mat-icon >edit</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <app-musclegroup-view [exercise]="exercise"></app-musclegroup-view>
        </mat-card>
      </div>
      <div class="col">
        <app-set-list [exercise]="exercise"> </app-set-list>
      </div>
    </div>
  </div>
</ng-container>
