<ng-container *ngIf="exercise$ | async as exercise">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="container">
          <mat-card>
            Detailansicht - {{ exercise.name }}
            <div class="row">
              <ng-container *ngIf="exercise.pictureUrl">
                <div class="col">
                  <div class="exercise-image">
                    <img [src]="exercise.pictureUrl" />
                  </div>
                </div>
              </ng-container>

              <div class="col">      
                <ng-container *ngIf="exercise.exerciseType">
                  Übungstyp
                  {{ exerciseTypeEnum[exercise.exerciseType] }}
                </ng-container>
              </div>
              <div class="col">
                <ng-container *ngIf="exercise.description">
                  Beschreibung
                  {{ exercise.description }}
                </ng-container>
                <ng-container *ngIf="exercise.date">
                  Zuletzt trainiert
                  {{ exercise.date | date: "EEEE d. MMMM y HH:mm" }}
                </ng-container>
              </div>
            </div>
          </mat-card>
            <app-set-list [exercise]="exercise"> </app-set-list>
          
        </div>
      </div>

      <div class="col">        
          <app-musclegroup-view [exercise]="exercise"></app-musclegroup-view>
      </div>
    </div>
  </div>
</ng-container>
