mat-form-field {
    width: 100%;
  }

.btn {
    margin-top: 2em;
    width: 40%;
    margin: auto auto;
}

.button-container{
  text-align: center;
  display:flex;
  justify-content: space-between;
}