<form [formGroup]="setForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
      <mat-label>Wiederholungen</mat-label>
      <input type="number" matInput formControlName="reps" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Intensität</mat-label>
      <input type="number" matInput formControlName="load">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Einheit</mat-label>
      <mat-select formControlName="measureUnit">
        <mat-option *ngFor="let key of keys(measureUnitEnum)" [value]="key">{{ measureUnitEnum[key] }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <div class="mat-dialog-buttons">
      <div class ="button-container">
      <button class="btn" mat-raised-button type="submit" [disabled]="setForm.invalid">
        <mat-icon>save</mat-icon>
      </button>
    </div></div>
</form>