<mat-toolbar id="toolbar">
  
  <div>
    <a mat-icon-button (click) ="toggleMobileBar()" fxShow="true" fxHide.gt-sm class="nav-left" >
      <mat-icon class ="burger-menu">menu</mat-icon>
    </a>
  </div>
  <div  fxShow="true" fxHide.lt-md>
    <a routerLink="home" routerLinkActive="active" mat-button class="link"> Home</a>
    <ng-container *ngIf="this.authenticationService.isAuthenticated() | async ">
      <a routerLink="units" routerLinkActive="active" mat-button class="link">
        Routine
      </a>
      <a routerLink="training-log/units" routerLinkActive="active" mat-button class="link">
        Track Workout
      </a>
    </ng-container>
    <a routerLink="about" routerLinkActive="active" mat-button class="link">
      About </a>
  </div>
  <div class="nav-middle">
    <ng-container *ngIf="this.imageUri && (this.authenticationService.isAuthenticated() | async)">
    <img class ="header-image" src = {{this.imageUri}}>
  </ng-container>
    GymAudit
  </div>
  <div class="nav-right">
    <ng-container *ngIf="this.authenticationService.isAuthenticated() | async;else login">
      <a mat-icon-button  (click)="logout()" mat-button>
        <mat-icon>logout</mat-icon>
      </a>
    </ng-container>
    <ng-template #login>
      <a mat-icon-button routerLink="login" mat-button>
        <mat-icon>login</mat-icon>
      </a>
    </ng-template>
  </div>

</mat-toolbar>
<ng-container *ngIf="this.authenticationService.isAuthenticated() | async">
<div class = "drawer">
  <ul id = "drawer-list">
    <li></li>
    <li routerLink="home"><a >Home</a></li>
    <li routerLink="units"><a >Routine</a></li>
    <li routerLink="training-log/units"><a  >Track Workout</a></li>
    <li routerLink="about"><a >About</a></li>
    <li routerLink="userinfo"><a >My Profile</a></li>

  </ul>
</div>
</ng-container>

<div class = "drawer">
  <ul id = "drawer-list">
    <li></li>
    <li routerLink="home"><a >Home</a></li>
    <li routerLink="about"><a >About</a></li>
  </ul>
</div>
      <router-outlet></router-outlet>
