@import"../styles.scss";
.active {
  background-color:$primary;
}

.toolbar {
  margin: 10px;
  background-color: #FFFFFF;
}

.title{
  font-size: 2em;
  margin-right: 10px;
}

.link {  
  font-size: 1em;
}