@import"../styles.scss";
.active {
  background-color:$primary;
}

.toolbar {
  padding-top: 10px;
  background-color: #FFFFFF;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.title{
  font-size: 2em;
  margin-right: 10px;
}

.link {  
  font-size: 1em;
}