@import "../../../../../styles.scss";

.mat-form-field {
  width: 100%;
}

.mat-dialog-buttons{
    text-align: center;
}


h4{
  margin-bottom: 1em; 
}



mat-icon{
  font-size: 20px;
  margin: 0 auto;
}


.button-container{
  text-align: center;
  display:flex;
  justify-content: space-between;
}

.btn{
  margin-top: 2em;
  width: 40%;
  margin: auto auto;
}


