<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="container" style="text-align: center;">
            <div class = "title-container">
            <mat-icon>account_circle</mat-icon>
        </div>
            <div>
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>username</mat-label>
                    <input style=" background-color: white" matInput required formControlName="username">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <button id="loginbutton" mat-raised-button type="submit">Login</button>
            </div>
        </div>
    </form>
    <button class ="fb-login-button" (click)= "loginWithFacebook($event)">Weiter mit Facebook</button>
    <span> Got no account yet?<a routerLink="/signup"> Register</a></span>

</div>