@import "../../../styles.scss";

.container{
    text-align: center;
    width:90%;
    padding: 0;
    max-width: 450px;
}   

mat-form-field{
    width: 100%;
}
.submit-button {
    background-color: $primary;
    color:white !important;
    text-transform: uppercase   ;
    border-radius:1em;
    width: 100%;
    padding: 0.5em 1em;
    display:block;
    box-sizing: border-box;
    margin: 0 auto;
    text-decoration: none;
    
}

.mat-form-field-empty.mat-form-field-label {
    color: green;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.title-container{
    margin-top: 3em;
    margin-bottom: 1em;
}

.title-container > mat-icon{
    font-size: 2em;
}

.title-container > mat-icon{
    font-size: 3em;
}

form{
    margin-bottom: 2em;
}

mat-icon{
    color: $primary
}

.fb-login-button{
    width:100%;
    display:block;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #3b5998;
    color:white !important;
    border:none;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius:1em;
    border: 2px solid #3b5998
}

img{
    height: 1.5em;
    margin-right: 0.75em;
}

.google-login-button{
    box-sizing: border-box;
    width:100%;
    display:block;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color:   white;
    color:#222326;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius:1em;
    border: 2px solid black;

}


.google-image{
    height: 20px;
}