@import "../../../styles.scss";

.container{
    text-align: center;
}   

mat-form-field, .submit {
    width: 75%;
}

#loginbutton{
    width: 75%;
    padding: 0.5em;
}
.mat-form-field-empty.mat-form-field-label {
    color: green;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.title-container{
    margin-top: 4em;
    margin-bottom: 1em;
}

.title-container > mat-icon{
    font-size: 3em;
}

form{
    margin-bottom: 2em;
}

mat-icon{
    color: $primary
}

.fb-login-button{
    width:75%;
    display:block;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #3b5998;
    color:white;
    border:none;
    padding: 0.5em 1em;
    border-radius:1em;
}