<ng-container *ngIf="['google_drive', 'google'].includes(this.userInfo?.provider)">
  <ng-container *ngIf="this.data && this.data.fileId">
    <div class="preview-img">
      <img src="{{environment.api_url + 'files/' + this.data.fileId}}">
    </div>  
    </ng-container>
  <div class="file-upload">
    <div class="upload">
      <ng-container *ngIf="!this.selectedFile; else rmFile">
        <label for="file" style="cursor:pointer;">
          <mat-icon style="display:block;">file_upload</mat-icon> Neues Bild hinzufügen
        </label> <input type="file"  accept="image/*" id="file" (change)="handleFileInput($event.target.files)" style="display:none">
      </ng-container>
      <ng-template #rmFile>
        <button mat-button (click)="removeFile()">
          {{this.selectedFile.name}}
          <mat-icon style="display:block;">close</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!['google_drive', 'google', 'facebook'].includes(this.userInfo?.provider)">
  <div class="upload-impossible-alert">
    <p> Wir nutzen Google Drive, um Bilder zu speichern!</p>
    <a class="google-login-button" mat-raised-button href = "{{environment.api_url}}oauth2/google/drive?jwt={{this.jwt}}"><img class="google-image"
        src="../../../assets/google-icon-small.svg">Autorisiere Google</a>
  </div>
</ng-container>