<ng-container *ngIf="setsPage$ | async as sets">
  <ng-container *ngIf="sets.content.length; else noSets">
    <div class = "heading">
    <span class = "mat-title">Satzprotokoll</span>
  </div>
    <mat-expansion-panel *ngFor="let set of sets.content">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ set.date | date: "EEEE d. MMMM y HH:mm" }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-label>Wiederholungszyklen: <span style="font-weight:bold">{{ set.reps }}</span></mat-label>
      <ng-container *ngIf = "set.number">
        <mat-divider></mat-divider>
      <mat-label>Intensität: <span style="font-weight:bold">{{ set.number }} {{measureUnitEnum[set.measureUnit]}}</span></mat-label>
    </ng-container>
    </mat-expansion-panel>
    <mat-paginator
      [pageSize]="pageSize"
      [length]="sets.totalElements"
      (page)="turn($event)"
      [pageIndex]="index"
    >
    </mat-paginator>
  </ng-container>
  <ng-template #noSets>
    <div class = "heading">
    Für diese Übung wurden <br>noch keine Sätze protokolliert 
  </div>
  </ng-template>
</ng-container>

