<ng-container *ngIf="setsPage$ | async as sets">
  <ng-container *ngIf="sets.content.length">
    <span>Sätze</span>
    <mat-expansion-panel *ngFor="let set of sets.content">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ set.date | date: "EEEE d. MMMM y HH:mm" }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-label>Gewicht: {{ set.weight }}</mat-label>
      <br />
      <mat-label>Wiederholungen: {{ set.reps }}</mat-label>
    </mat-expansion-panel>
    <mat-paginator
      [pageSize]="pageSize"
      [length]="sets.totalElements"
      (page)="turn($event)"
      [pageIndex]="index"
    >
    </mat-paginator>
  </ng-container>
</ng-container>
