<form [formGroup]="unitForm" (ngSubmit)="submitForm()">
  <div class="container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <br />
    <div class="mat-dialog-buttons">
      <button type="button" (click)="closeDialog()" mat-button>
        Close
      </button>
      <ng-container *ngIf="editing === true">
        <button mat-raised-button type="button" (click)="removeUnit()">
          Remove
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <button mat-raised-button type="submit" [disabled]="unitForm.invalid">
        Save
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</form>
