<h1>Trainingsplan</h1>
<ng-container *ngIf="units$ | async as units">
  <div class="container-fluid">
    <div class="heading">
      <span class="mat-title">Einheiten</span>
      <br>
      <button mat-raised-button (click)="addUnit()">
        <mat-icon>add</mat-icon>
         <!--  eventuell raus, nur symbol--></button>
       <button mat-raised-button (click)="editUnit()"> <mat-icon>edit</mat-icon>
       </button>
    </div>
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let unit of units"
        (click)="selectUnit(unit)"
        [active] ="isSelectedUnit(unit)"
        >{{ unit.name }}</a
      >
    </nav>
    <router-outlet name="exercises"></router-outlet>
    <router-outlet name="add"></router-outlet>
  </div>
</ng-container>
