<h1>Aktueller Trainingsplan</h1>

<ng-container *ngIf="units">
  <nav>
    <a >Einheiten</a>
    <div >
      <ul >
        <li *ngFor="let unit of units">
           <!-- [routerLink]="[{ outlets: { exercises: unit.id } }]" -->
          <span
          [routerLink]="[{ outlets: { exercises: unit.id } }]"
          routerLinkActive = "active"
          >
            {{ unit.name }}
          </span>
        </li>
      </ul>
        <button>Hinzufügen <mat-icon>add</mat-icon></button>
    </div>
  </nav>
</ng-container>

<router-outlet name="exercises"></router-outlet>
