<form [formGroup]="exerciseForm" (ngSubmit)="submitForm()">
  <h4>{{ getHeading() }}</h4>
  <ng-container *ngIf="this.exerciseInformationVisible; else muscleGroupsVisible">
    <mat-form-field appearance="outline">
      <mat-label>Name*</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Typ</mat-label>
      <mat-select formControlName="exerciseType">
        <mat-option *ngFor="let key of keys(exerciseTypeEnum)" [value]="key">{{ exerciseTypeEnum[key] }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Notizen</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <app-file-upload (fileEmitter) = "fileEmitted($event)" [data]="this.data"></app-file-upload>

    <div style="text-align: right;">
      <button type="button" class="expansion-button" (click)="toggleMuscleGroups()" mat-raised-button> Weiter
      </button>
    </div>
  </ng-container>
  <ng-template #muscleGroupsVisible>
    <mat-icon (click)="toggleMuscleGroups()" mat-button>arrow_back_ios</mat-icon>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Muskelgruppen hinzufügen
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field *ngFor="let control of muscleGroups.controls; index as i" class="example-full-width">
        <mat-select [formControl]="muscleGroups.controls[i]">
          <mat-option (click)="removeMuscleGroup(i)">
            <mat-icon style="margin-right:0">delete</mat-icon>
          </mat-option>
          <mat-option *ngFor="let key of keys(muscleGroupEnum)" [value]="key">{{ muscleGroupEnum[key] }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div style="text-align: center;">
        <mat-icon (click)="addMuscleGroup()" mat-raised-button>add</mat-icon>
      </div>
    </mat-expansion-panel>
    <div class ="divider"></div>
    <div class ="button-container">
      <ng-container *ngIf ="this.editing">
        <button mat-raised-button class ="btn" (click) ="this.deleteExercise.emit(data)" type ="button">
        <mat-icon >delete_forever</mat-icon>
      </button>
      </ng-container>
      <ng-container *ngIf="!this.isLoading; else loading">
        <button mat-raised-button type="submit" class="btn" [disabled]="exerciseForm.invalid">
          <mat-icon>save</mat-icon>
        </button>
      </ng-container>
      <ng-template #loading>
        <mat-spinner style="margin:0 auto;" [diameter]=50 [mode]="mode" [value]="progress"></mat-spinner>
        <p>{{this.progress}}%</p>
      </ng-template>
    </div>

  </ng-template>
</form>