<ng-container *ngIf="exercises$">
  <div class="global-padding">
    <h3>Übungen der Einheit: {{ unit.name }}</h3>
    <div class="row">
      <ul class="list-group-flush">
        <li
          class="list-group-item"
          *ngFor="let exercise of exercises$ | async"
          (click)="selectExercise(exercise)"
          [style.background-color]="
            exercise === selectedExercise ? '#92a8d1' : ''
          "
        >
          <span class="exercise-name">{{ exercise.name }}</span>
        </li>
        <button>
          Hinzufügen
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </ul>
      <ng-container *ngIf="selectedExercise">
        <app-exercise-detail [exercise]="selectedExercise">
        </app-exercise-detail>
        <app-set-list [unit] = "unit" [exercise] = "selectedExercise"></app-set-list>

      </ng-container>
    </div>
  </div>
</ng-container>
