<div>
    <div class="container" style="text-align: center;">
        <h2>Registrierung</h2>
    </div>
    <div class="container">
        <mat-form-field>
            <mat-label>Vorname</mat-label>
            <input matInput [formControl]="firstName" required>
            <mat-error *ngIf="firstName
            .invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field>
            <mat-label>Nachname</mat-label>
            <input matInput [formControl]="lastName" required>
            <mat-error *ngIf="lastName
            .invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field>
            <mat-label>E-Mail eingeben</mat-label>
            <input matInput placeholder="max@mustermann.de" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field>
            <mat-label>Passwort eingeben</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field>
            <mat-label>Passwort erneut eingeben</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="container">
        <button mat-button style="outline:none">Registrieren</button>
        <a routerLink="/login">Einloggen</a>
    </div>
</div>