@import "../../../styles.scss";

mat-form-field{
    width: 100%;
}

.submit-button {
    background-color: $primary;
    color:white !important;
    text-transform: uppercase   ;
    border-radius:1em;
    width: 100%;
    padding: 0.5em 1em;
    display:block;
    margin: 0 auto;
    text-decoration: none;
    border: 4px solid $primary;
    margin-top: 1.5em;

}


.birthday-form {
    display:flex;
}

.birthday-form > mat-form-field {
    width: calc(33.3% - 0.75em);
}


.birthday-form > mat-form-field:nth-child(2){
    margin: auto 1em;

}

.title-container{
    margin-top: 4em;
    margin-bottom: 1em;
}

form{
    margin-bottom: 2em;
}

mat-icon{
    color: $primary
}
