@import "../../../styles.scss";

.main{
    width: 90%;
    margin: 0 auto;
    padding:0;
    text-align: center;
}   
mat-form-field{
    display:block;
    width: 100%;
}

.register-button{
    background-color: $primary;
    color:white !important;
    text-transform: uppercase   ;
    border-radius:1em;
    width: 100%;
    padding: 0.5em 1em;
    display:block;
    box-sizing: border-box;
    margin: 0 auto;
    text-decoration: none;
}
.mat-form-field-empty.mat-form-field-label {
    color: green;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


form{
    margin-bottom: 2em;
}