/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";
:root{
    box-sizing: border-box;
  }
  *,
  ::before,
  ::after{
    
    box-sizing: inherit;
  }
  *:focus {
    outline: none;
}

.snackBar {
  background: $secondary;
}

.divider{
  border-top: 1px solid #d9dadc;
  margin: 1.5em auto;
  }

 $primary: #647bb9;
 $secondary: #85a0fa;
 $text: #646464;

 .container{
  text-align: center;
  width:90%;
  padding: 0;
  max-width: 450px;
}   