/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";

.mat-icon {
    vertical-align: middle;
 }

 .heading {
     margin: 12px;
     text-align: center;
     font-size: 20px;
 }
 html, body { height: 100%; }

 $primary: #92a8d1

