<form [formGroup]="setForm" (ngSubmit)="submitForm()">
  <div class="container">
    <mat-form-field>
      <mat-label>Repetitions</mat-label>
      <input matInput formControlName="reps" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Intensity</mat-label>
      <textarea matInput formControlName="number"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Measure</mat-label>
      <mat-select formControlName="measureUnit">
        <mat-option
          *ngFor="let key of keys(measureUnitEnum)"
          [value]="key"
          >{{ measureUnitEnum[key] }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <br />
    <div class="mat-dialog-buttons">
      <ng-container *ngIf="editing === true">
        <button mat-raised-button type="button"
          (click)="removeSet()">
          Delete
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <button mat-raised-button type="submit" [disabled]="setForm.invalid">
        Save
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</form>
