@import "../../../../../styles.scss";
.active {
  background-color: $primary;
}

.exercise-list {
  padding-bottom: 10px;
  max-width: 350px;
  text-align: center;
}

.image {
  height: 50px;
  width: 50px;
  padding-right: 5px;
}
  
