<ng-container *ngIf="exercisesPage$ | async as exercises">
  <div class="row">
    <div class="col exercise-list">
      <ng-container *ngIf="exercises.content.length; else noExercises">
        <div class="heading">
          <span class="mat-title">Übungen</span>
        </div>
        <mat-card
          *ngFor="let exercise of exercises.content; let i = index"
          (click)="selectExercise(exercise)"
          [style.background-color]="
            isSelectedExercise(exercise) ? '#92a8d1' : ''
          "
          style="cursor: pointer; padding: 5px; margin: 10px; text-align: left;"
        >
          <span>{{ exercise.name }}</span>
        </mat-card>
      </ng-container>
      <ng-template #noExercises>
        Es wurde noch keine Übung hinzugefügt
      </ng-template>
      <button
        style="width: 300px; margin: 10px;"
        mat-raised-button
        (click)="navigateToAddExercise()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <ng-container *ngIf="exercises.content.length">
        <mat-paginator
          [pageSize]="pageSize"
          [length]="exercises.totalElements"
          (page)="turn($event)"
          [pageIndex]="index"
        >
        </mat-paginator>
      </ng-container>
    </div>
    <div #exerciseElement>
      <router-outlet name="exercise-detail"></router-outlet>
    </div>
  </div>
</ng-container>
